* , *::before , *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html , body {
  display: grid;
  min-height: 100vh;
  place-items: center;
  background-color: #222;
}

.drum-panel {
  width: 32rem;
  height: 20rem;
  padding: 1rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2,1fr);
  border: 5px solid orange
}

.drum-left {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3,1fr);
  font-size: 1.25rem;
}

.drum-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.drum-pad {
  border: 2px solid royalblue;
  display: grid;
  place-items: center;
  background-color: tomato;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  border-radius: 0.25rem;
  cursor: pointer;
}

.drum-pad:active {
  transform: scale(0.8);
  background-color: yellow;
}

.drum-pad.active {
  transform: scale(0.8);
  background-color: yellow;
  transition: all .3s ease-in-out;
}

/* switch 样式 */

.switch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
}

/* .switch-label {
  margin-bottom: 1;
} */

.switch {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 30px;
  border-radius: 15px;
  background-color: #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.switch-label {
  color: #fff;
}

.switch .label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 12px;
  color: #fff;
}

.switch .slider {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.switch.on {
  background-color: #58c300;
}

.switch.on .slider {
  transform: translateX(30px);
}

.switch.off .slider {
  transform: translateX(2px);
}

.drum-text {
  background-color: teal;
  padding: 1rem;
  color: #fff;
  border-radius: 0.25rem;
}